<div
  class="bg-surface-50 dark:bg-surface-900 w-full h-dvh flex flex-col overflow-hidden"
>
  <app-toolbar [elevated]="isScrolled()" />
  <div class="flex-1 flex overflow-hidden relative">
    <main
      #mainContent
      id="main-content"
      tabindex="-1"
      class="flex flex-col flex-1 w-full h-full overflow-y-auto bg-surface-50 dark:bg-surface-900"
    >
      @if (nav.currentUrl() === '/notifications') {
        <app-page-title-bar title="Notificaciones" />
      } @else {
        <app-breadcrumb-bar />
      }
      <div
        class="flex flex-col flex-1 lg:p-6"
        [class.p-2]="nav.currentUrl() !== '/notifications'"
      >
        <router-outlet />
      </div>
    </main>
  </div>
  <app-mobile-footer />
  <app-nav-overlay />
  <app-mobile-search-overlay />
  <app-mobile-more-overlay />
</div>
